@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

a {
  @apply inline-block;
}

body {
  @apply bg-white dark:bg-zinc-900;
}

.container {
  @apply w-screen h-screen !max-w-[100vw] flex items-center justify-start p-4;
}

/* Grid */

.container {
  @apply grid grid-cols-[300px_1fr_300px] grid-rows-[auto_calc(50vh-1rem)_auto] gap-[0.25rem_0.25rem];
  grid-template-areas:
    "header header header"
    "article article notes"
    "leftpanel vscode game";
}

/* klasy karola start*/
.codeEditor div{
  height:550px;
  min-height: 100%;
  max-height:100%;
  overflow:auto;
}
.codeEditor *{
  width:100%;
  color:rgb(124, 231, 231);
}
.codeEditorButtons * {
  margin: 3px;
  margin-left:2px;
  margin-right:2px;
  padding:5px;
  padding-top:2px;
  padding-bottom:2px;
  display:block;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  display: block;
  border: 0px;
  font-size:12px;
  box-shadow: 0px 0px 14px -7px #1a025c;
  background-image: linear-gradient(45deg, #1d086d 0%, #0e32d1  51%, #6437ad  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.codeEditorButtons *:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.codeEditorButtons *:active {
  transform: scale(0.95);
}
/* klasy karola end*/


.notes {
  @apply h-full;
  grid-area: notes;
}

.game {
  @apply h-full;
  grid-area: game;
}

.leftpanel {
  @apply grid grid-cols-[1fr] grid-rows-[auto_1fr] gap-[.25rem_.25rem] h-full;
  grid-template-areas:
    "settings"
    "shorts";
  grid-area: leftpanel;
}

.settings {
  @apply h-full;
  grid-area: settings;
}

.shorts {
  @apply h-full;
  grid-area: shorts;
}

.article {
  @apply grid grid-cols-[300px_1fr] grid-rows-[1fr] gap-[.25rem_.25rem] h-full py-4;
  grid-template-areas: "article__list article__summary";
  grid-area: article;
}

.article__list {
  @apply h-full;
  grid-area: article__list;
}

.article__summary {
  @apply h-full;
  grid-area: article__summary;
}

.header {
  @apply h-full;
  grid-area: header;
}

/* Page transition effects */

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
